@collapsedBgColor: rgba(0,0,0,0.6);

.base {
	cursor: default !important;
	user-select: none;
	background-color: @collapsedBgColor;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px 1px fade(@collapsedBgColor, 35%);
}

.expandable {
	composes: base;

	&:not(.expanded) {
		cursor: pointer !important;
		border: 1px solid transparent;

		&:hover {
			border-color: fade(#fff, 50%);
		}
	}
}

.expanded {
	composes: expandable;

	background-color: #fff;
	color: #000;
}
