.container {
	width: 100%;
	height: 100%;
	background-color: transparent;
}

// Vignette effect around map borders
.vignette {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 10000;
	box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.35);
}

.tileLayer :global(.leaflet-tile) {
	// Preserve crisp pixels with scaled up tile images
	image-rendering: optimizeSpeed; // fallback
	image-rendering: -moz-crisp-edges; // Firefox
	image-rendering: -o-crisp-edges; // Opera
	image-rendering: -webkit-optimize-contrast; // Safari
	image-rendering: optimize-contrast; // CSS3 Proposed
	image-rendering: crisp-edges; // CSS4 Proposed
	image-rendering: pixelated; // CSS4 Proposed
	-ms-interpolation-mode: nearest-neighbor; // IE8+
}
