@spacing: 12px;

.container {
	padding: @spacing 0;
}

// Selected map block
.selected {
	padding: 0 @spacing;

	h1, span {
		font-size: 14px;
	}

	h1 {
		display: inline-block;
		font-weight: bold;
		padding: 0;
		margin: 0;
		color: #98c997;
		text-shadow: 0 1px fade(#000, 25%);
	}

	span {
		margin-left: 5px;
	}

	div {
		text-align: right;
	}
}

// Selected map block (where PVP is enabled)
.selectedWithPVP {
	composes: selected;

	h1 {
		color: #f9aa43;
	}
}

// No selection block
.noSelection {
	padding: 0 @spacing;
	font-size: 14px;
}

// Select map options block
.selectOptions {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	label, input {
		cursor: pointer !important;
	}

	label {
		display: inline-block;
		margin: 0 @spacing;
		line-height: 21px;
	}

	input {
		margin: 0 5px 0 0;
		padding: 0;
	}

	h3 {
		padding: 0 @spacing 5px @spacing;
		margin: @spacing 0;
		font-weight: bold;
		font-size: 12px;
		border-bottom: 1px solid #ccc;
		align-self: stretch;
	}
}
